@model KuehneNagel.WeatherForecast.Application.ViewModels.WeatherForecastViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<div>
    <h4>WeatherForecastViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTemperature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentTemperature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTemperatureMatchForecast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentTemperatureMatchForecast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentDayForecastAccuracy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentDayForecastAccuracy)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
